---
layout: default
---



<article>
  <section class="home-description">
  <p><strong>Mask on straight, Head on Crooked.</strong></p>
  <p>Heads on Crooked is the antidote to kitchen sink dramas.<br>
  As an international theatre collective based in Edinburgh, we are committed to destigmatizing avant-garde theatre and in so doing; create joy, laughter, and community in Scotland’s capital city.</p>
  </section>
  {% assign posts = site.posts %}
  {% assign posts_limit = site.home-posts-limit %}
  {% if posts.size > 0 %}
    <div class="apercu-post" role="list">
      {% for post in posts limit: posts_limit %}
        <a href="{{ post.url | relative_url }}" role="listitem">
          <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" class="post-thumb" />
          <h1 class="list_post_title"><span class="a-nude">{{ post.title | escape }}</span></h1>
        </a>
        {% assign authors = post.category | join: ", " %}
        
        <div class="line"></div>
      {% endfor %}
    </div>
  {% endif %}
</article>

